<div class="about_page animated_content">
	<h1 class="content_headers">
		jackson hole, wyoming
	</h1>
		<BR>
			<div>
				<CENTER>
					<div>
							<div class="col-md-4 col-sm-4">
								<a href="http://i66.tinypic.com/2nulxfk.png" target="_blank"><img src="http://i67.tinypic.com/2nrplk1.png" class="img-circle thumbs_pics"></a> 
							</div>
							<div class="col-md-4 col-sm-4">
								<a href="http://cdn.jacksonholewy.com/13/trail-run-summer__large.jpg" target="_blank"><img src="http://i64.tinypic.com/2gxpus7.png" class="img-circle thumbs_pics"></a>
							</div>
							<div class="col-md-4 col-sm-4">
								<a href="http://www.seniorcenterjh.org/packages/scjh/images/bg_tetons.jpg" target="_blank"><img src="http://i68.tinypic.com/wjho36.png" class="img-circle thumbs_pics"></a>
							</div>

					</div>	
				</CENTER>
					<BR>
						<div>
							Take yourself back to the year <B>1893</B>. Imagine yourself in a secluded valley that is surrounded by mountains and greenery. Here, you see bison, along with other wildlife you may have never seen before. The cattle, crisp air, and stunning views have you sucked in. Now, where does the name "Jackson Hole" come from? The town was named after a beaver trapper, David Edward Jackson. Jackson increased the region's exposure to northerners who had never been brave enough to make a pit-stop to this region. Its winters were known for being severely cold, and Jackson was able to make it through an entire winter. <BR><BR>

							Now, while Jackson Hole is freezing in the winter, it's perfect in the summer. During the month of June, its temperatures reach 80°F. The air is crisp, and clean, and makes you feel as though you've taken a true breath of <I>fresh</I> air. <BR><BR>

							To get an idea of what Jackson Hole's main square is, <a href="https://www.youtube.com/watch?v=psfFJR3vZ78" target="_blank">click here</a> for the town's live feed!

						
						</div>
				
			</div>

</div>