<div class="about_page animated_content">
	<h1 class="content_headers">
		contact us
	</h1>
		<BR>
			<div>
				Please don't hestitate to contact us with any questions or concerns you may have before your trip. <BR><BR>
				
				<B>For information regarding Foresters travel and qualification policies, please contact:</B>
				<BR><BR>
				<B>Tracy Wilson</B>, Registration Manager<BR>
				Meridican<BR>
				Toll Free: 1-877-477-7701 extension 337<BR>
				Telephone: 905-477-7891<BR>
				Email: twilson@meridican.com

				<BR><BR><BR>

				<B>For information regarding Foresters travel and qualification policies, please contact:</B>
				<BR><BR>
				<B>Sameth Wolfe</B>, Program Manager<BR>
				Meridican<BR>
				Toll Free: 1-877-477-7701 extension 322<BR>
				Telephone: 905-477-7700 extension 322<BR>
				Email: forestersdestination@meridican.com

				<BR><BR><BR>
				<B>For flight arrangements and travel insurance information, please contact:</B><BR><BR>
				<B>Nagesh Peri</B>, Group Air Coordinator<BR>
				Meridican<BR>
				Toll Free: 1-877-477-7701 extension 318<BR>
				Telephone: 905-477-7700 extension 318<BR>
				Email: air@meridican.com
<size=""
			</div>

</div>