<div class="about_page animated_content">
	<h1 class="content_headers">
		delivering the difference
	</h1>
		<BR>
			<div>
				<I>Delivering the Difference</I> has been a Foresters Producer Convention™ tradition since 2006. It’s an opportunity to share our financial strength and commitment to families and communities wherever we travel. We work hand-in-hand with you to give back to those in need – a strong partnership that truly makes the difference.
					<BR><BR>
				This year, Foresters invites you to volunteer your time and talent to help with badly-needed work at the Montseny School in Barcelona. The project will include painting a multi-purpose room, installing a new library room, and updating the worn-down outdoor lunch and play space. 
					<BR><BR>
				The public school system in Spain has felt the brunt of the global financial crisis more than most public services in Spain. Drastic cutbacks in education mean departing teachers are not replaced, new material for schools is rare and only basic needs are being met.
					<BR><BR>
				The Montseny School has especially suffered from funding cuts, leading to disrepair and finally to the closure of its High School. The Kindergarten and Primary school has approximately 160 students – aged 3 – 12 years – who will have a brighter school day and much-improved environment as a result of our efforts. It’s all about Delivering the Difference to those who need it most.
			</div>

</div>