<div class="about_page animated_content">
	<h1 class="content_headers">
		frequently asked questions
	</h1>
		<BR>
			<div>
				<p class="faqs_header">When should I arrive at the airport?</p>
				Recommended check-in time is 1 hour prior to departure (depending on Homeland Security level). Please call the airline or access the airline's internet site to check for schedule changes or flight delays, and reconfirm recommended check-in time prior to leaving for the airport. Please remember to allow extra time if you are unfamiliar with the airport, are leaving during heavy traffic times, or have excess baggage.
					<BR><BR>
				<p class="faqs_header">What will the weather be like?</p>
				Jackson Hole boasts amazing summer temperatures. During the month of June, you can expect temperatures to range from the low 40s to low 80s °F. Because of the surrounding mountains, the air is crisp, making it a comfortable location to partake in summer activities without the sticky sweatiness that usually comes with summer temperatures. 
					<BR><BR>	
				<p class="faqs_header">What is the time difference?</p>
				Jackson Hole is on Mountain Daylight Time. When it is 12pm in Washington D.C., it is 10am in Jackson Hole, Wyoming. 
					<BR><BR>
				<p class="faqs_header">What should I pack?</p>
				Jackson Hole has varying temperatures in the summer. You can expect early mornings and late evenings to be cool, therefore it might be a good idea to pack some sweaters or a jacket just in case you feel a bit chilly! During the day, the air is crisp, but the temperatures are warm as the sun beams down. Light summer clothing is a good idea, paired with some optional cover-ups for when the sun goes down. 
					<BR><BR>
				<B>Recommended Dress Code</B>
				The atmosphere in Jackson Hole and at the Four Seasons is conservative yet casual.   
					<BR><BR>
				<B>Wyoming Casual:</B> When at leisure, whether it’s breakfast at the hotel or sight-seeing, you may wear whatever you would normally choose while on vacation. Please bring casual clothing for the Delivering the Difference Community Project.  
					<BR><BR>
				<B>Business Casual:</B> Most hosted and/or evening events require business casual attire, such as shirts with collars, golf shirts and slacks for gentlemen; capris, dresses, skirts or slacks for the ladies. 
					<BR><BR>
				<B>Gala:</B> The Awards Gala evening will be a formal event, we recommend suits for the gentlemen and evening dresses or pant suits for the ladies. 
					<BR><BR>
				<p class="faqs_header">How much luggage can I take?</p>
				Most carriers now charge a fee for luggage. In general, most carriers allow one (1) checked bag per traveler and one (1) carry-on bag that must fit in the overhead bin or under the seat in front of you. However, please check with your airline to confirm the current luggage limitations and any applicable fees. 
					<BR><BR>
				As a reminder, please do not pack your valuables or things you will need within the first 24 hours in your checked luggage. These include (but are not limited to) your passport, credit cards/cash, laptop, mobile device, camera, cell phone, jewelry, glasses, contact lenses and solution (note size limits), and medication. 
					<BR><BR>
				Please be sure your bags are checked through to your final destination airport, Jackson Hole Airport (JAC). 
					<BR><BR>
				<p class="faqs_header">Should I lock my checked luggage?</p>
				The Transportation Security Administration (TSA) may need to open your checked bags in order to perform a random security screening. If your bags are locked, TSA will break the locks during the screening process and does not assume liability for any damage this may cause. 
					<BR><BR>
				TSA-recognized locks, which can be opened by TSA using tools provided by luggage-industry members, help prevent the need to break locks. However, TSA-recognized locks are still occasionally broken during the screening process. If you want to guarantee that your checked bags are not forced open, leave them unlocked, but make sure you carry all documentation and valuables with you. 
					<BR><BR>
				<p class="faqs_header">What's not included that I can expect to pay for?</p>
				All personal travel expenses, including but not limited to activities you book on your own, phone calls, internet, dry-cleaning/laundry services, and room service, are your responsibility and must be paid for upon check-out.
					<BR><BR>
				<p class="faqs_header">How can I call home?</p>
				Most cell phone providers have service in this area; please check with your provider for specific details. Rates are extremely expensive. You can also use a calling card to call from your hotel room, though the hotel may add a nominal fee. Please note that if you call directly from your hotel room, you will be charged substantial service fees. These charges will be added to your hotel incidental bill and must be settled prior to departure from the hotel. Please also note that you will be in the United States, therefore as long as you have regular cellphone service within the U.S., you will be able to use your regular plan. 
					<BR><BR>
				<p class="faqs_header">How can I be contacted?</p>
				For your convenience, a leave-behind card with your hotel's contact information will be included with your travel documents, which will be sent in mid March.
					<BR><BR>
				<p class="faqs_header">Do I need travel insurance?</p>
				Each person's needs differ and insurance coverage varies accordingly.  It is your responsibility to ensure that you have sufficient coverage for your travel needs. This should include, but not be limited to, out of country hospital and medical benefits and baggage and personal effects coverage. Foresters will cover the cost of travel insurance for you upon request. If you require travel insurance, please indicate that when you register. 
			</div>

</div>