<div class="about_page animated_content">
	<h1 class="content_headers">
		privacy policy
	</h1>
		<BR>
			<div>
				At <B>Foresters</B>, we provide life insurance, annuities, fraternal benefits and services to our members, certificate holders and policyholders in the United States, Canada and the United Kingdom. Collecting Personal Information about you is essential to our ability to do this and to conduct our business. We collect only the information necessary for these purposes and we are committed to protecting that information. Foresters Personal Information handling practices comply with the privacy laws of each jurisdiction where we operate. These practices ensure the security of your information. This privacy policy governs our behaviour for handling Personal Information. We also ensure that our representatives, suppliers and service providers adhere to its standards when dealing with Foresters business and members. 
					<BR><BR>

				This Privacy Policy may be supplemented by more specific policies that reflect any legal and operational requirements of our affiliates or the countries in which we operate. We will provide you with any such applicable policies if they apply to your Personal Information. These country or affiliate specific policies will govern in the event of a conflict with this policy. 
					<BR><BR>
				<p class="faqs_header">Definitions</p>
					
				<B>Foresters</B> – The Independent Order of Foresters, its affiliates, their licensed representatives, independent producers, and their officers and employees. 
					<BR><BR>
				<B>Personal Information</B> – Any information about an identifiable individual such as name, age, address, gender, government identification numbers, financial information, health information and medical records. It does not include publicly available information. 
					<BR><BR>
				<B>Member</B> – Current members, prospective members, former members, and any of their family members, beneficiaries and our Branch system participants. 
					<BR><BR>
				In handling Personal Information in each of the jurisdictions in which we operate, we are guided by the following ten <B>Privacy Principles</B>: 
					<BR><BR>
					<OL>
				<LI><B>Accountability:</B></LI> We are responsible for Personal Information under our control. We have designated individuals who are responsible for monitoring our ongoing compliance with these privacy principles and our privacy policy.<BR><BR>
				<LI><B>Identifying Purposes:</B></LI>  The purposes for which Personal Information is collected will be identified by us, or through our or your authorized representatives.<BR><BR>
				<LI><B>Consent:</B></LI>  Your knowledge and consent are required for the collection, use or disclosure of Personal Information, except as otherwise permitted or required by law. Your consent may be expressed in writing. It may also be given verbally, electronically or through our or your authorized representative. It may also be implied. This may occur, for example where the law permits it, if you do not “opt out” of distribution of your Personal Information when we ask you.<BR><BR>
				<LI><B>Limiting Collection:</B></LI>  The collection of Personal Information shall be limited to that which is necessary for the purposes identified. Personal Information shall be collected by fair and lawful means. <BR><BR>
				<LI><B>Limiting Use, Disclosure and Retention:</B></LI>  Personal Information will not be used, disclosed or retained for purposes other than those for which the information was collected, except with the permission of the individual, or as permitted or required by law.<BR><BR>
				<LI><B>Accuracy:</B></LI>  Personal Information shall be as accurate, complete, and up-to-date as is necessary for the purposes for which it is to be used. <BR><BR>
				<LI><B>Safeguarding information:</B></LI>  Personal Information will be protected by security safeguards that are appropriate to the sensitivity of the information. <BR><BR>

				<LI><B>Openness:</B></LI>  Information about our privacy policies and practices for managing your Personal Information shall be made readily available to you. <BR><BR>
				<LI><B>Individual Access:</B></LI>  Upon written request, you will be informed of the existence, use and disclosure of your Personal Information and you will be given access to it subject to those exceptions permitted by law. You may verify the accuracy and completeness of your information and have it amended as appropriate. <BR><BR>
				<LI><B>Inquiries and concerns:</B></LI>  If you have any inquiries or concerns about our privacy policies and practices, please contact Foresters Chief Privacy Officer at: 
					</OL>
					<BR><BR>

				<CENTER><B>Foresters <BR>
				789 Don Mills Road <BR>
				Toronto, Ontario M3C 1T9 <BR>
				Canada </BR></B></center>
					<BR><BR>
				<p class="faqs_header">Why and How we collect Personal Information</p>
					 
				Generally, we need to collect Personal Information for a variety of reasons, these might include: 
					<BR><BR>
					<UL>
						<LI>Understand your needs</LI>
						<LI>Determine your eligibility</LI>
						<LI>Continue to offer you the full range of products and services that we believe meet your changing needs</LI>
						<LI>Hold fraternal and community events and activities and to operate our Branch system</LI>
						<LI>Conduct market and industry research</LI>
						<LI>Meet our legal and regulatory obligations</LI>
					</UL>
					<BR>
				<p class="faqs_header">Identify and mitigate potential risks or losses to Foresters</p>
					
				We collect only the information we need for the purposes we have identified to you. We will only use fair and lawful means to do so. We collect this information from the following sources: 
				<BR><BR>
					<UL>
						<LI>Information we receive from you on applications or other forms and through other means of correspondence, such as the telephone, mail or the internet</LI>
						<LI>Information about your transactions with us, our affiliates, or others</LI>
						<LI>Information we receive from a consumer reporting agency or other independent sources such as your employer</LI>
						<LI>In the case of medical or other health related information, additional sources such as your doctor(s) or other healthcare providers or facilities and independent medical information reporting agencies</LI>
					</UL>
					<BR>
				<p class="faqs_header">Consent and Disclosure </p>
				
				We collect, use and share your Personal Information only for disclosed purposes related to the insurance, benefits and services we offer, and only with your consent, or as permitted or required by law. Your consent may be expressed in writing, or it may be given verbally, electronically, or through our, or your authorized representative(s). Your consent may also be implied or inferred from certain actions. You may withhold or withdraw your consent for us to collect, use and disclose your Personal Information, as long as there are no legal or contractual reasons preventing you from doing so. Depending on the circumstances, however, withdrawal of your consent may impact our ability to continue to provide you with the insurance, benefits and services you have requested.
				 	<BR><BR>
				The disclosure of your Personal Information will be restricted to those who have a need for, and the legal right to, the information. 
					<BR><BR>
				Your Personal Information will (subject to any legal restrictions) only be provided to, or be accessible by: 
					<UL>
						<LI>Our employees and representatives who need the information in the performance of their duties for us</LI>
						<LI>Our affiliates to resolve your concerns about any related benefits or services with us and to assist in any other matters</LI>
						<LI>Service providers needing the information in the performance of their duties for us, and to satisfy their obligations to us (we may use service providers to provide us with various services such as printing, mail distribution, information technology, data storage, administration, marketing including market research and promotional services, paramedical, claims adjudication, investigation and reinsurance)</LI>
						<LI>Any person or organization to whom you gave consent</LI>
						<LI>Anyone who is otherwise authorized by law</LI>
					</UL>
					<BR><BR>
				If we receive a request to release your Personal Information, we will only do so upon satisfactory identification and proof of entitlement of the requestor, or as required or permitted by law.
					<BR><BR>
				Some of our business areas or affiliates may, from time to time, offer or promote other financial products, benefits or services, or those of select third parties, that we believe may be of interest to you. We may also have joint marketing or distribution agreements with other financial institutions that may offer or promote products that we believe may be of interest to you. We will share Personal Information with them for these purposes only if the law allows it. 
					<BR><BR>
				Please note that we will NOT give your Personal Information, without your consent, to any non-Foresters organization for the purpose of that organization marketing their own products or services directly to you. 
					<BR><BR>
				<p class="faqs_header">We will protect your Personal Information</p>
					
				We are responsible for all Personal Information in our possession, including information transferred to a third-party service provider or representative in order that we can provide you with insurance, a benefit or service. In some instances our employees, service providers, representative, reinsurers and any of their service providers, may be located in other jurisdictions. Your Personal Information may then be subject to the laws of those other jurisdictions, as well as the laws of the jurisdiction where you live. As a result, your information may be disclosed in response to demands or requests from government authorities, courts, or law enforcement in those countries. 
					<BR><BR>
				We have developed and are continuing to enhance security procedures to safeguard and protect Personal Information against theft, loss, unauthorized disclosure, copying, and unauthorized use or modification. These include organizational measures such as security clearances, appropriate policies and procedures and limiting access on a “need to know” basis, and technological measures such as the use of passwords, encryption, firewalls and anti-virus software. 
					<BR><BR>
				<p class="faqs_header">Retention of Personal Information</p>
				
				We will only keep your Personal Information in our records for as long as it is needed to fulfill the identified purposes, or as required or permitted by law. Personal Information that is no longer required will be destroyed, erased or made anonymous. When we destroy Personal Information, we will use safeguards to prevent unauthorized access to the information during the destruction process. 
					<BR><BR>
				<p class="faqs_header">Accessing and Amending</p>
				
				We will make all reasonable efforts to ensure that any Personal Information we collect and keep is as accurate, complete and current as required for the identified purposes. To do so, we will rely to a large extent on you to provide us with accurate information and to inform us of changes, such as changes in your contact information. You have the right to access and verify your Personal Information maintained in our files and to request that any factually inaccurate Personal Information be corrected, if appropriate.
				
					
			</div>

</div>